{% extends "jhumapper/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="View Chart">
    <a data-toggle="modal" data-target="#chart_modal"><span class="glyphicon glyphicon-stats"></span></a>
  </div>
{% endblock %}

{% block app_navigation_items %}

  {% gizmo select_input layers %}
  {% gizmo select_input plot_style %}

{% endblock %}

{% block app_content %}
  <div id="map"></div>
{% endblock %}

{% block after_app_content %}
  <div class="modal fade " id="chart_modal" tabindex="-1" role="dialog" aria-labelledby="about-modal-label">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <div class="row">
            <h2 style="text-align: center">Timeseries Results</h2>
          </div>
        </div>
        <div class="modal-body">
          <div id="chart"></div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-success" role="button" id="chartCSV">Save Chart as CSV</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block app_actions %}

{% endblock %}